<article class="post">
    <div class="whole-post">
        <div class="info-section">
            <div class="post-name">
                <a href="/blog/{{blogs.id}}" class="links">{{blogs.title}}</a>
            </div>
            <div class="created-by">
                <p id="comment-subtitle">
                    Posted by <b>{{user.email}} </b> on <b>{{date_created}}</b>
                </p>
            </div>
        </div>
        <div class="content-section">
            <p>{{blogs.content}}</p>
        </div>
    </div>
</article>